:root {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #292727;
 
}



/*!----------------------------------------------------------------------------------------------*/







header {
    background-color: #000000;
    color: #fff;
    overflow: hidden;
    /* -webkit-box-shadow: inset 0px -7px 9px 0px rgba(41, 39, 39, 1);
        -moz-box-shadow: inset 0px -7px 9px 0px rgba(41, 39, 39, 1);
        box-shadow: inset 0px -7px 9px 0px rgba(41, 39, 39, 1); */
    
}

.logo img{
    width: 150px;
    height: auto;
    margin-bottom: -50px;
}

.img-fluid{
    width: 70px;
    border: transparent;
    border-radius: 40px;
    margin-top: -40px;
}


nav {
    display: flex;
    justify-content: flex-end;
    /* Sağa yaslama */
    align-items: center;
    /* Dikey hizalama */
    margin-right: 20px;
    /* Diğer stillendirme seçenekleri */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -60px
}

nav ul li {
    display: inline-block;
    /* Yan yana sıralama */
    margin-right: 10px;
    /* İstediğiniz boşluk miktarını ayarlayın */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

h4{
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 300;
}


#logOut {
    background-color: inherit;
    border: none;
}

#logOut a{
    color: white;
    font-size: 14.5px;
    font-weight: 300;
    text-decoration: none;
}





/*!..............................................................................................*/



.search-bar input[type="text"] {
    width: 80%;
    max-width: 400px;
    padding: 6px;
    border: #fff solid;
    border-radius: 20px;
}



.chat-section {
    display: flex;
}

.public-chats {
    flex: 1;
}

.private-chat {
    width: 300px;
    /* Adjust as needed */
    margin-left: auto;
    background-color: #f2f2f2;
    /* Adjust background color as needed */
    /* Other styling for private chat section */
}




/*!_-------------------------------------------------------------------------------------------------------*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    /* Adjust as needed */
    color: #fff;
    /* Adjust text color as needed */
    text-align: center;
    padding: 20px 0;
    /* Add padding as needed */
}








main {
    display: flex;
    flex-wrap: wrap;
}

/* Search bar */
.search-bar {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


.chat-rooms {
    flex: 1 1 250px;
    margin-left: -90px;
    padding: 70px 100px;
}

.chat-rooms h2{
    margin-bottom: 100px;
    margin-top: -30px;
    margin-left: 29px;
    font-size:  18;
}

.chat-rooms ul li{
    text-align: start;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 150px;
}

.chat-rooms ul li a {
    text-decoration: none;
    color: #f2f2f2;
}








.private-messages {
    flex: 0 0 250px;
    padding: 70px 100px;
    
}

.private-messages h2{
    margin-bottom: 100px;
    margin-top: -30px;
    text-align: end;
    font-size: 12;

}

.private-messages ul li {
    text-align: end;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 150px;
}

.private-messages ul li a{
    text-decoration: none;
    color: #f2f2f2;
}
